body{
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background: linear-gradient(217deg, rgba(248, 135, 135, 0.8), rgba(94, 94, 94, 0) 70.71%),
            linear-gradient(127deg, rgba(130, 255, 130, 0.8), rgba(66, 72, 66, 0) 70.71%),
            linear-gradient(336deg, rgba(139, 139, 241, 0.8), rgba(0,0,255,0) 70.71%);
    background-position:cover ;
    background-repeat: no-repeat;
    height: 97.5vh;
    margin-top: 1rem;
}

button{
    font-size: 30px;
    margin-top: 0.1rem;
    background-color: rgb(131, 235, 124);
    margin-bottom: 3.4rem;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
button:hover{
    background-color: green;
    
}
div{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    box-shadow: rgba(255, 0, 0, 0.359) 0px 54px 55px, rgba(255, 0, 0, 0.375) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(255, 0, 0, 0.221) 0px 12px 13px,
                 rgba(255, 0, 0, 0.312) 0px -3px 5px;
    height: 39vh;
    width: 300px;
    margin-top: 2rem;
  
}

#text{
    margin-top: 1.0rem;
    border: 1px solid rgb(93, 91, 91);
    font-size: 20px;
    height: 2em;
    padding-left: 5px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 36px;
    text-decoration:underline;
    margin-top: 0;
}
.space{
    margin-top: 1.7rem;
    display: block;
}