body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #fcb1d0, #f9a3b2, #e27998);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    color: #fff;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
     rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
     rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
    max-width: 400px;
    width: 90%;
}

h1 {
    margin: 0 0 10px;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
    color: #000000;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.subtitle {
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 300;
    color: #000000;
}

.controls {
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
    color: #fff;
}

.controls label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.output {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#text {
    flex: 1;
    padding: 10px;
    font-size: 1.1rem;
    border: none;
    border-radius: 6px;
    text-align: center;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(182, 27, 74, 0.3);
}

button:active {
    transform: scale(0.95);
}


.copy-btn {
    padding: 10px;
    font-size: 1rem;
    background-color: #18a81d; 
    color: white;
    border-radius: 6px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.copy-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(76, 175, 80, 0.3); 
}

.copy-btn:active {
    transform: scale(0.95);
}
